#nav-header {
  height: 50px;
  background: #35495e;
  font-weight: lighter;
}

  
.home-desktop {
  display: block;
}

.home-mobile {
  display: none;
}

.menu {
  display: flex;
}

#menu-row {
  display: flex;
  align-items: center;
  height: 100%;
}

.pl {
  padding: 0 0 0 15px;
}

#menu-container {
  height: 100%;
}

.menu > .logo {
  flex-grow: 1;
}

@media (max-width: 767px) {
  #nav-header {
    height: auto;
  }

  .menu {
    flex-direction: column;
  }

  .pl {
    padding: 0;
  }
  
  .home-desktop {
    display: none;
  }

  .home-mobile {
    display: block;
  }
}
