pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-size: 10pt;
  border: 2px solid black;
}

h1 {
  text-align: center;
}

div, p {
  font-weight: normal;
}

a.white {
  font-weight: lighter;
}

.inline {
  background: transparent !important;
  /*
  color: blue !important;
  */
}

.post_body {
  padding: 0px 10px 10px 10px;
  margin: 0 0 15px 0;
  background: white;
}

p > .inline {
  color: red !important;
  background: white !important;
  border-radius: 0px;
  font-size: inherit;
  /*
  background: transparent !important;
  color: darkblue !important;
  */
}

blockquote {
  margin: 0;
  padding: 0 0 0 5px;
  border-left: 5px solid #35495e;
}

